body {
  box-sizing: border-box;
  margin: 0 6.25rem;
  padding: 0;
  background-color: #fafafa;
}

.menu {
  display: flex;
  align-items: baseline;
  gap: 15px;
}

a {
  text-decoration: none;
  color: rgb(98, 98, 98);
}

h1 {
  color: #0290ff;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

.book {
  border: 1px solid rgb(207, 207, 207);
  display: flex;
  justify-content: space-between;
  background-color: white;
  gap: 0;
  padding: 20px;
  margin: 10px 0;
  align-items: center;
}

.remove {
  background-color: inherit;
  border: none;
  text-align: left;
  width: 4.563rem;
  height: 1.188rem;
  margin: 1.25rem 0.938rem 0.125rem 0;
  padding: 0;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
  cursor: pointer;
}

.category {
  width: 100%;
  height: 1.125rem;
  opacity: 0.5;
  margin: 0 2.438rem 0 0;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.tittle {
  width: 100%;
  height: 1.813rem;
  font-size: 1.375rem;
  margin: 0.188rem 20.188rem 0 0;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #121212;
}

.author {
  width: 100%;
  height: 1.188rem;
  font-size: 0.875rem;
  margin: 0.25rem 0 0;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.span {
  display: block;
  width: 100%;
  height: 0.01rem;
  margin: 2.5rem 0.063rem 1.813rem 0;
  border: solid 1px #e8e8e8;
}

h2 {
  width: 10.875rem;
  height: 1.5rem;
  margin: 0 32.75rem 1.188rem 0;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.inputs {
  display: flex;
  justify-content: space-between;
}

input {
  width: 30%;
  height: 2.813rem;
  padding: 0 10px;
  border-radius: 4px;
  border: solid 1px var(--white);
  background-color: #fff;
}

#category {
  padding-left: 20px;
  width: 140px;
  border-radius: 4px;
  border: solid 1px var(--white);
  background-color: #fff;
}

.input-submit {
  width: 11.5rem;
  height: 2.813rem;
  border-radius: 3px;
  background-color: #0290ff;
  border: none;
  color: white;
}

header {
  background-color: white;
  border-bottom: 1px solid rgb(221, 221, 221);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 6.25rem;
}

.home-page {
  margin-top: 95.475px;
}

.book-content {
  width: 270px;
}

.categories {
  margin-top: 95.475px;
}

.info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.outer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  border: 10px solid #888;
}

circle {
  position: relative;
  fill: none;
  stroke: #0290ff;
  stroke-width: 10px;
  stroke-dasharray: 250;
  stroke-dashoffset: 250;
  animation: anim 2s linear forwards;
}

svg {
  position: absolute;
  transform: rotate(-88deg);
}

@keyframes anim {
  100% {
    stroke-dashoffset: 125;
  }
}

.chapter button {
  margin-bottom: 16px;
  background-color: #0290ff;
  border: none;
  padding: 8px;
  border-radius: 3px;
  color: white;
}

.current {
  color: #888;
}

.c-chapter {
  color: black;
  font-weight: bold;
}

.v-span {
  width: 1px;
  height: 90px;
  background-color: #c5c5c5;
}

@media screen and (max-width: 950px) {
  .book {
    flex-direction: column;
    gap: 20px;
  }

  .inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .v-span {
    display: none;
  }
}

@media screen and (max-width: 574px) {
  body {
    margin: 177px 10px;
  }

  .menu {
    flex-direction: column;
    padding-bottom: 20px;
  }

  header {
    padding-left: 20px;
  }
}
